@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
:root {
  height: 100%;
}

.logos {
  overflow: hidden;
  white-space: nowrap;
}

.logos2{
  overflow: hidden;
}

.logos-slide2 {
  display: flex;
  animation: logos-scroll 40s infinite linear;
}

.logos-slide {
  display: inline-block;
  animation: logos-scroll 20s infinite linear;
}

.logos-slide svg {
  height: 50px;
  margin: 0 40px;
  display: inline-block;
  /* border: 1px solid #ccc; */
}

.custom-list {
  list-style-type: none;
}

.custom-list li::before {
  content: "• ";
  font-size: 20px;
}


@keyframes logos-scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}


